
.tableContainer>    table, th, td {
        border: 1px solid white;
      }

      .tableContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    .analytics{
        border: solid black 2px;
        color:white;
        border-radius: 10px;
        line-height: 2px;
        /* padding: 20px; */
    }