.sideContainer {
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding-top: 10px;
    background: #18181B;
    height: 90%;
    align-items: center;


}

.sideContainer>img {
    height: 20%;
    cursor: pointer;
    width: 80%;
}

.title {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 27.24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-align: center;

}